{% for block in section.blocks %}
  <div style="background-color: {{ block.settings.bg_color }}; color: {{ block.settings.text_color }};">
    {{ block.settings.title }}
  </div>
{% endfor %}

{% schema %}
{
  "name": "custom-announcement-bar",
  "max_blocks": 12,
  "class": "announcement-bar-section",
  "settings": [],
  "blocks": [
    {
      "type": "announcement",
      "name": "t:sections.announcement-bar.blocks.announcement.name",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "default": "title",
          "label": "Title"
        },
        {
          "type": "color",
          "id": "bg_color",
          "default": "#fff",
          "label": "Background color"
        },
        {
          "type": "color",
          "id": "text_color",
          "default": "#000",
          "label": "Text color"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "custom-announcement-bar",
      "blocks": [
        {
          "type": "announcement"
        }
      ]
    }
  ]
}
{% endschema %}
