<header class="custom-header">
  <div class="header-container">
    <div class="logo-container">
      <img src="{{ section.settings.header_logo | img_url: '200x20' }}">
      <p>
        {{ section.settings.header_company_name }}
      </p>
    </div>
    <nav>nav</nav>
    <button>b</button>
  </div>
</header>

{% schema %}
{
  "name": "custom-header",
  "settings": [
    {
      "type": "image_picker",
      "id": "header_logo",
      "label": "Header Logo"
    },
    {
      "type": "text",
      "id": "header_company_name",
      "label": "Company Name"
    }
  ],
  "presets": [
    {
      "name": "custom-header",
      "category": "Header"
    }
  ]
}
{% endschema %}
