{% style %}
  .custom-header {
    background: {{ section.settings.header_background_color }};
  }
{% endstyle %}

<header class="custom-header header-{{ section.settings.sticky_custom_header_type }}">
  <div class="header-container page-width">
    <div class="logo-container">
      <img
        src="{{ section.settings.header_logo | img_url: '37x37' }}"
        width="37"
        height="37"
        loading="lazy"
      >
      <p>
        {{ section.settings.header_company_name }}
      </p>
    </div>
    <nav>nav</nav>
    <button>b</button>
  </div>
</header>

{% schema %}
{
  "name": "custom-header",
  "settings": [
    {
      "type": "image_picker",
      "id": "header_logo",
      "label": "Header Logo"
    },
    {
      "type": "text",
      "id": "header_company_name",
      "label": "Company Name"
    },
    {
      "type": "color_background",
      "id": "header_background_color",
      "label": "Header Background Color",
      "default": "#ffffff"
    },
    {
      "type": "select",
      "id": "sticky_custom_header_type",
      "label": "Header Type",
      "options": [
        {
          "value": "static",
          "label": "Static"
        },
        {
          "value": "fixed",
          "label": "Fixed"
        }
      ],
      "default": "fixed"
    }
  ],
  "presets": [
    {
      "name": "custom-header",
      "category": "Header"
    }
  ]
}
{% endschema %}
