<div style="background-color: {{ section.settings.header_background_color }};">
  <p>
    {{ section.settings.header_company_name }}
  </p>
</div>

{% schema %}
{
  "name": "custom-announcement-bar",
  "max_blocks": 12,
  "class": "announcement-bar-section",
  "settings": [
    {
      "type": "text",
      "id": "header_company_name",
      "label": "Company Name"
    },
    {
      "type": "color",
      "id": "text_color",
      "label": "Text Color",
      "default": "#ff0000"
    }
  ],
  "presets": [
    {
      "name": "custom-announcement",
      "blocks": [
        {
          "type": "announcement"
        }
      ]
    }
  ]
}
{% endschema %}
