<section class="container mx-auto">
  {% for image in section.blocks %}
    <img
      src="{{ image.settings.instagram_image | img_url: 'auto' }}"
      alt="Instagram image"
      width="auto"
      height="auto"
    >
  {% endfor %}
</section>

{% schema %}
{
  "name": "Instagram-section",
  "settings": [],
  "blocks": [
    {
      "type": "image",
      "name": "Instagram image",
      "settings": [
        {
          "type": "image_picker",
          "id": "instagram_image",
          "label": "Image"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Instagram section"
    }
  ]
}
{% endschema %}
