<section class="container">123</section>

{% schema %}
{
  "name": "Instagram-section",
  "settings": [],
  "blocks": [
    {
      "type": "image",
      "name": "Instagram image",
      "settings": [
        {
          "type": "image_picker",
          "id": "instagram_image",
          "label": "Image"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Instagram section"
    }
  ]
}
{% endschema %}
