<div style="background-color:  {{ section.settings.bg_color }}; padding: 0px;">
  {% for block in section.blocks %}
    <div style="background-color:  {{ block.settings.bg_color }};">
      <p style="color: inherit;">
        {{ block.settings.content }}
      </p>
    </div>
  {% endfor %}
</div>

{% schema %}
{
  "name": "My custom section",
  "max_blocks": 10,
  "settings": [
    {
      "type": "color",
      "id": "bg_color",
      "label": "Background color"
    },
    {
      "type": "color",
      "id": "text_color",
      "label": "Text color",
      "default": "#00ffff"
    }
  ],
  "blocks": [
    {
      "type": "announcement",
      "name": "Announcement component",
      "settings": [
        {
          "type": "richtext",
          "id": "content",
          "label": "Content"
        },
        {
          "type": "color",
          "id": "bg_color",
          "label": "Background color"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "My custom block",
      "category": "announcement"
    }
  ]
}
{% endschema %}
