<div
  class="{{ section.settings.text_align }}"
  style="background-color:  {{ section.settings.bg_color }}; padding: 0px; color: {{ section.settings.text_color }};"
>
  {% for block in section.blocks %}
    <div>
      <p style="color: inherit;">
        {{ block.settings.content }}
      </p>
    </div>
  {% endfor %}
</div>

{% schema %}
{
  "name": "My custom section",
  "max_blocks": 10,
  "settings": [
    {
      "type": "color",
      "id": "bg_color",
      "label": "Background color"
    },
    {
      "type": "color",
      "id": "text_color",
      "label": "Text color",
      "default": "#000"
    },
    {
      "type": "select",
      "id": "text_align",
      "label": "Text align",
      "default": "text-left",
      "options": [
        {
          "value": "text-left",
          "label": "Left"
        },
        {
          "value": "text-center",
          "label": "Center"
        },
        {
          "value": "text-right",
          "label": "Right"
        }
      ]
    }
  ],
  "blocks": [
    {
      "type": "announcement",
      "name": "Announcement component",
      "settings": [
        {
          "type": "richtext",
          "id": "content",
          "label": "Content"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "My custom block",
      "category": "announcement"
    }
  ]
}
{% endschema %}
