@tailwind base;
@tailwind components;
@tailwind utilities;

//header 
.header {

    .container {
        margin: 0 auto;
        display: grid;
        grid-template-columns: auto 1fr auto;
        grid-template-areas: "header-logo header-menu header-icons";

        @media (max-width: 767px) {
            grid-template-areas: "header-menu header-logo header-icons";
            grid-template-columns: 1fr 3fr 1fr;
        }
    }

    .header__logo {
        grid-area: header-logo;

        @media (max-width: 767px) {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    .header__menu {
        grid-area: header-menu;
    }

    .header__icons {
        grid-area: header-icons;
    }

    @media (max-width: 768px) {
        grid-template-areas: "header-menu header-logo header-icons";
        grid-template-columns: 1fr 2fr 1fr;
    }

    nav {

        a,
        button {
            text-transform: uppercase;
        }
    }

    //submenu
    .nav__item {
        &:hover {
            .nav__item-submenu {
                display: block;
            }
        }

        .nav__item-submenu {
            display: none;
        }
    }
}

//helpers
.page-width {
    max-width: var(--page-width);
    margin: 0 auto;
    padding: 0 1rem;
}